.clock {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  margin-left: 12px;

  &Arrow {
    transform: translate(-9px, -2px);
  }
  &Two {
    margin-left: 1px;
    font-size: 12px;
    color: #9E9E9E;
  }
}

@media (min-width: 1200px) {
  .clock {
    position: relative;
    top: 80px;
    }

}